.about {
    min-height: 840px;
    padding: 120px 0;
    h2 {
        position: relative;
        padding-left: 12px;
        @include before_circle;
    }
    &__grid-container {
        display: grid;
        grid-template: minmax(375px, auto) minmax(140px, auto) / 400px 660px;
        grid-auto-rows: minmax(375px, auto);
        gap: 70px;
    }
    &__img {
        width: 100%;
        grid-row: 1/3;
    }
    &__text {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 500;
    }
    &__skills {
        padding-left: 60px;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr); 
        row-gap: 50px;
        column-gap: 110px;
        &-group {
            position: relative;
            @include before-circle;
            &:before {
                top: 0;
                left: -60px;
            }
            &-icon {
                position: absolute;
                top: 15px;
                left: -45px;
            }
            &__text {
                font-size: 12px;
                font-weight: 500;
                width: 200px;
                margin-top: 6px;
            }
        }
    }
}