@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__container {
            grid-template-columns: 400px 540px;
            gap: 28px;
        }
        &__skills {
            row-gap: 20px;
            column-gap: 80px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3, 270px);
            justify-content: center;
        }
        &__progress-bars {
            grid-template-columns: repeat(2, 350px);
            justify-content: center;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__container {
            padding: 0;
            grid-template-columns: 400px 520px;
        }
        &__form {
            grid-template-columns: repeat(2, 245px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about {
        &__container {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-column: 2/3;
            grid-row: 2/3;
            grid-template-columns: 1fr;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2, 270px);
        }
    }
    .contacts {
        &__container {
            grid-template-columns: 300px 410px;
        }
        &__form {
            grid-template-columns: repeat(2,190px);
        }
        &__policy {
            font-size: 11px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 30px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            margin-top: 15px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__container {
            grid-template: 400px auto auto / 1fr;
        }
        picture, &__wrapper, &__skills {
            grid-column: unset;
            grid-row: unset;
        }
        &__skills {
            grid-template: 1fr /1fr 1fr;
        }
    }
    .divider {
        &_center {
            margin-top: 11px;
        }
    }
    .skills {
        padding-top: 46px;
        &__progress-bars {
            margin-top: 48px;
            grid-template-columns: 350px;
        }
    }
    .portfolio {
        padding-top: 46px;
        &__wrapper {
            row-gap: 20px;
        }
    }
    .contacts {
        padding-top: 46px;
        &__img {
            display: none;
        }
        &__container {
            grid-template-columns: 300px;
            justify-content: center;
        }
        &__form {
            grid-template: 45px 45px 190px 36px 45px / 300px;
        }
        &__input {
            &:nth-child(2) {
                grid-row: 2/3;
            }
        }
        &__textarea {
            grid-column: 1/2;
        }
        &__triggers {
            justify-content: center;
            grid-column: 1/2;
            grid-template-columns: 220px;
        }
        &__policy {
            grid-row: 1/2;
            width: 180px;
            margin: 0 auto;
            font-size: 12px;
        }
        &__btn {
            grid-row: 2/3;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        font-size: 24px;
        &_fz14 {
            font-size: 14px;
        }
        &_fz16 {
            font-size: 16px;
        }
        &_fz48 {
            font-size: 26px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        &__title {
            width: 210px;
        }
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__container {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .skills {
        padding-top: 46px;
        &__wrapper {
            grid-template-columns: 270px;
            row-gap: 20px;
        }
        &__progress-bars {
            grid-template-columns: 300px;
            &__item {
                &__line {
                    width: 300px;
                }
            }
        }
    }
}